# Global Wildcards (Shield everything!)
**/venv/
**/*_venv/
**/__pycache__/
**/*.pyc
**/.env
**/.pytest_cache/
**/*.log

**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db